
// offset css
@media (min-width: 992px){
    .offset-lg-4 {
        margin-right: 33.33333333% !important;
    }
}

@media (min-width: 992px){
.offset-lg-rtl-2 {
    margin-right: 16.66666667% !important;
}
}

@media (min-width: 992px){
.offset-lg-rtl-3 {
    margin-right: 25%;
}
}

@media (min-width: 992px){
.offset-lg-rtl-1 {
    margin-right: 8.33333333%;
}
}